

body {
    background: #F1F4FD;
}

.mainHeader {
    color: #0E225B;
    font-size: 40px;
}

.aboutMeInfo {
    color: #0E225B;
    padding: 16px;
    border: 3px solid #FF5A5F;
}

.aboutMeSection {
    width:100%;
    max-width: 700px;
}

.aboutMeHeader {
    color: #790629;
    font-size: 20px;
}

.diaryHeader {
    color: #790629;
}

.daysSectionHeader {
    color: #790629;
}

span {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #FF5A5F;
}

a:visited {
    color: #FF5A5F;
}

a:hover {
    color:#0E225B;
}

.aboutDaysInfo {
    color:#0E225B;
    padding: 0 0 10px 16px;
}

.article {
    width: 100%;
    max-width: 1000px;
}
.footer {
    color: #0E225B;
}