body {
    background: #F1F4FD;
}

.navigation {
    background: #fff;
    box-sizing: border-box;
    left: 0;
    padding: 16px;
    position: fixed;
    top: 0;
    width: 100%;
}

.main {
    margin: 30px auto;
    max-width: 700px;
    padding-top: 50px;
    width: 100%;
}

.header__title {
    color: #0E225B;
    font-size: 40px;
}

.about {}

.about__paragraph {
    border-top: 3px dotted #DB2B39;
    color: #0E225B;
    line-height: 24px;
    margin: 0;
    padding: 16px;
}

.about__picture, .article__picture {
    display: block;
    max-width: 700px;
    width: 100%;
}

.about__header {
    color: #790629;
    font-size: 20px;
}

.diary {}

.diary__header {
    color: #790629;
}

.days {
    padding: 16px;
}

.days__header, .article__title {
    color: #790629;
    font-size: 20px;
    margin: 0 0 16px;
}

span {
    font-weight: bold;
}

.navigation__link, .about__link, .days__link, .footer__link, .article__link {
    color: #DB2B39;
    text-decoration: none;
}

a:visited {
    color: #DB2B39;
}

a:hover {
    color: #0E225B;
}

.article {
    max-width: 700px;
    width: 100%;
}

.article__header {}

.article__paragraph {
    color: #0E225B;
    line-height: 24px;
    margin: 0;
    padding: 10px 16px 10px 16px;
}

.article__figure {}

.footer__paragraph {
    color: #0E225B;
}

.footer__link--top {
    bottom: 0;
    position: fixed;
    right: 10px;
}