body {
    background: #F1F4FD;
}

.navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 16px;
    background: #fff;
}

.main {
    width: 100%;
    max-width: 700px;
    margin: 30px auto;
    padding-top: 50px;
}

.mainHeader {
    color: #0E225B;
    font-size: 40px;
}

.about__paragraph {
    color: #0E225B;
    padding: 16px;
    border-top: 3px dotted #DB2B39;
    border-bottom: 3px dotted #DB2B39;
}

.about__picture {
    width: 100%;
    max-width: 700px;
    display: block;
}

.about__header {
    color: #790629;
    font-size: 20px;
}

.diaryHeader {
    color: #790629;
}

.daysSectionHeader {
    color: #790629;
}

span {
    font-weight: bold;
}

.navigation__link, .about__link {
    text-decoration: none;
    color: #DB2B39;
}

a:visited {
    color: #DB2B39;
}

a:hover {
    color: #0E225B;
}

.aboutDaysInfo {
    color: #0E225B;
    padding: 10px 16px 10px 16px;
    border: 3px solid #F3A712;
}

.article {
    width: 100%;
    max-width: 1000px;
}

.footer {
    color: #0E225B;
}

.top {
    position: fixed;
    bottom: 0;
    right: 10px;
    text-decoration: none;
    color: #DB2B39;
}